* {
    margin: 0;
    padding: 0;
}

html {
    color: #FFFFFF;

}

body {
    background-color: #0A0C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    font-family: Inter, sans-serif;
    font-weight: 700;
}
h2 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.highlight {
    color: #AB5CDB;
}

p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    opacity: 75%;
    margin-top: 25px;
    margin-bottom: 72px;
}

.underline {
    font-family: Lexend Deca, sans-serif;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 60%;
    margin: 0;
}

.mobile {
    display: none;
}

.card {
    width: 77%;
    display: flex;
    background-color: #1B1937;
    border-radius: 8px;
    overflow: hidden;
    height: 446px;
}

.card-text {
    margin: 70px 95px 60px 72px;
}

.stats {
    display: flex;

}

.stats-item {
    margin-right: 62px;
}
.image {
    position: relative;
}

.overlay {
    background-color: rgba(171, 92, 219, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    
}


@media screen and (max-width:768px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .image {
        
    }

    img {
        width: 100%;
        height: 100%;
        position: relative;
        top: center;
        left: 0;
    }

    .card {
        width: 90%;
        height: 780px;
        flex-direction: column;
        flex-flow: column-reverse;
    }

    .card-text {
        text-align: center;
        margin: 40px 32px 32px;
    }

    h1 {
        font-size: 28px;
        line-height: 32px;
        
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stats-item {
        margin: 0;
        width: 100%;
    }

    .stats-item:nth-child(2) {
        margin: 24px 0;
    }

    p {
        margin-bottom: 40px;
        margin-top: 16px;
    }
}